.git
.github
.gitignore
.pytest_cache
.coverage
**/__pycache__
**/*.pyc
**/*.pyo
**/.DS_Store
**/build
**/dist
**/*.egg-info
**/htmlcov
**/.mypy_cache
java/target
core/build
**/*.log
*.html
demo_report.html
.Rhistory
